<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <runtime>
    <assemblyBinding>
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" publicKeyToken="96d09a1eb7f44a77" culture="neutral" />
        <bindingRedirect oldVersion="2.2.8.0" newVersion="2.4.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <connectionStrings>
    <add name="SampleDatabaseWithSelfTrackingEntitiesEntities" connectionString="metadata=res://*/Bug.Data.Samples.EF5WithSelfTackingEntities.SampleModelWithSelfTrackingEntities.csdl|res://*/Bug.Data.Samples.EF5WithSelfTackingEntities.SampleModelWithSelfTrackingEntities.ssdl|res://*/Bug.Data.Samples.EF5WithSelfTackingEntities.SampleModelWithSelfTrackingEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=SampleDatabase;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SampleDatabaseEntities" connectionString="metadata=res://*/Bug.Data.Samples.EF5.SampleModel.csdl|res://*/Bug.Data.Samples.EF5.SampleModel.ssdl|res://*/Bug.Data.Samples.EF5.SampleModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=SampleDatabase;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>